NEXT_PUBLIC_SUPABASE_URL=https://xbynpupklqdneqvvvktq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_LBn7GMrV4_OJK9OV-OD1QA_VoG9cYL2
SUPABASE_SERVICE_ROLE_KEY=

WHOOP_CLIENT_ID=
WHOOP_CLIENT_SECRET=
WHOOP_REDIRECT_URI=http://localhost:3000/api/auth/callback
