NEXT_PUBLIC_SUPABASE_URL=https://qhfvnmszrtfdakbejhab.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_nPJ6JGaKHs7nFhhrWF2jAg_9aBwseMl
SUPABASE_SERVICE_ROLE_KEY=

WHOOP_CLIENT_ID=
WHOOP_CLIENT_SECRET=
WHOOP_REDIRECT_URI=http://localhost:3000/api/auth/callback
